@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl !important;
  }
}

@font-face {
  font-family: "Shabnam";
  src: url("../../public/assets/fonts/Shabnam-FD.ttf") format("truetype");
}
@font-face {
  font-family: "ShabnamBold";
  src: url("../../public/assets/fonts/Shabnam-Bold-FD.ttf") format("truetype");
}
@font-face {
  font-family: "ShabnamLight";
  src: url("../../public/assets/fonts/Shabnam-Light-FD.ttf") format("truetype");
}

@layer base {
  html {
    font-family: "Shabnam", system-ui, sans-serif;
  }
}
